.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.position {
    text-align: center;
    font-weight: normal;
    font-size: 150%;
}

.player-position {
    font-weight: bold;
}

.avatar {
    height: 100%;
    width: 50%;
    align-self: center;
}

.player-name {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.user {
    background-color: #636568a6;
    width: 100%;
    padding: 3vh;
    text-align: center;
    color: rgb(241, 205, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.container-fluid {
    width: 100%;
    border: 5px solid #636568a6;
    background-color: #636568;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
}

* {
    box-sizing: border-box
}

.filterDivAlumni {
    float: inline-start;
    background-color: #343a40;
    color: #ffffff;
    width: 300px;
    text-align: center;
    margin: 2px;
    display: none;
    /* Hidden by default */
    margin-top: 80px;
}

/* The "show" class is added to the filtered elements */
.showAlumni {
    display: block;
}

/* Style the buttons */
.btnAlumni {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: whitesmoke;
    cursor: pointer;
    margin-top: 2vw;
}

/* Add a light grey background on mouse-over */
.btnAlumni:hover {
    background-color: rgb(204, 173, 0);
}

/* Add a dark background to the active button */
.btnAlumni.active {
    background-color: #343a40;
    color: whitesmoke;
}

.botonesfiltrar {
    padding-top: 40px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 5px rgb(204, 173, 0);
    border-style: hidden hidden hidden solid;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: transparent;
}

/* Style the back side */
.flip-card-back {
    padding-top: 20px;
    background-color: #343a40;
    color: whitesmoke;
    transform: rotateY(180deg);
}

.flip-card-front .imageoverlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.541);
    color: whitesmoke;
    text-decoration: rgb(204, 173, 0);
    text-decoration-style: solid;
    width: 100%;
    padding: 20px;
}

.columna {
    float: left;
    width: 25%;
    display: flex;
    margin-left: auto;
}

.Graduands::after {
    content: "";
    display: table;
    clear: both;
}

.Graduands {
    padding: 8%;
}

@media screen and (max-width: 950px) {
    .columna {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1500px) and (min-width: 950px) {
    .columna {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}